html {
    background-color: var(--web-wash);
    padding-left: 1rem;
}

body {
    background-color: whitesmoke;
    color: #000;
}

.navs {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.navs li  {
    list-style: none;
}
.navs li a {
    text-decoration: none;
    padding-left: 4rem;
    color: blue;
    font-size: 24px;
}

.register-form, .login-form, .edit-form {
padding-left: 20rem;
}
.register-form input, .login-form input, .edit-form input {
    display: flex;
    height: 3rem;
    width: 30rem;
    margin-top: 1rem;
    background-color: white;
    border: 1px solid #2d5dcc;
    font-size: 20px;;
    padding-left: 1rem;;
}

.register-form .submit, .login-form .submit {
    background-color: #1877f2;
    
    border-radius: 6px;
    margin-right: 10rem;
    width: 31rem;
    color: white;
    padding-left: 13rem;
}
.gender  {
    display: flex;
    align-items: center;
}
.gender input {
    width: 6rem;
}

/* home page style */


.home li {
    list-style: none;
    
}
li a.home-login {
    color: white;
    background-color: #1877f2;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
}
.home-register {
    color: white;
    background-color: #42b72a;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
}



/* home page for posts css */

.header-post {
    display: flex;
    margin-top: 2rem;
    margin-left: auto;
}

.image img {
    border: 2px rosybrown solid ;
    border-radius: 50%;
}
.name-time {
    padding-left: 1rem;
}
.name-time p {
   font-weight: bold;
}

.name-time span {
    color: royalblue;
}
.posts {
display: flex;
justify-content: center;

}

.post {
    background-color: white;
    margin-top: 2rem;
    width: 600px;
    padding-left: 1rem;
    box-shadow: 2px 2px 4px 2px rgb(10 0 0 / 20%);
    border-radius: 10px;
}

/* home page for comments  */
.header-comment {
    display: flex;
    margin-top: 2rem;
    margin-left: auto;
}

.header-comment  img {
    margin-top: 1rem;
    border: 2px royalblue solid ;
    border-radius: 50%;
}

.single-comment {
    padding-left: 2rem;
    padding-bottom: 1rem;
}
.comment p {
    font-weight: normal;
}
.comment {
    background-color: #F0F8FF;
    width: 400px;
    border-radius: 20px;
    padding-left: 1rem;
}

/* .comments {
    display: none;
} */

.total_likes_comments {
    display: flex;
    justify-content: space-around;
    color: royalblue;
    font-size: 20;
    text-decoration: underline;
    cursor: pointer;
}
.submit-button {
    border: none;
    background-color: white;
    cursor: pointer;
}
.like-image {
    width: 40px;
    height: 40px;
}
.comment-form {
    padding-bottom: 1rem;
   
}

.comment-form input:nth-child(2) {
    border: solid 1px white;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 400px;
    background-color:#F5F5F5;
}

.comment-form input:nth-child(3) {
    border-radius: 5px;;
    padding: 0.5rem;
    
}

/* profile page css */


.profile-picture {
    border: white solid 2px;
    border-radius: 50%;
}
.profile a {
    background: royalblue;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.profile li {
    list-style: none;
}

.profile {
    background-color:beige;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}
.table-about {
    background-color: #fff;
    ;
}
.table-about td:first-child {
    border-right: 1px solid black;
    border-collapse: collapse;
}
.table-about td:nth-child(2) {
    width: 20rem;
}

.table-about td {
    padding: 0.5rem;
}
.profile {
    display: flex;
    justify-content: space-around;
}
.freinds-info {
    display: flex;
    justify-content: space-around;
}
.freinds-info h2, .freinds-info h1{
    color: black;
}
.freinds-info img {
    border-radius: 50%;
    margin-top: 2rem;
   
}
.freinds-info li {
    list-style: none;
}
.freinds-info a {
    text-decoration: none;
    padding: 0.3rem;
    color: black;
    font-weight: bold;
    
}
.freinds-info a:first-child {
    background: none;
}

.friend-requests a:nth-child(3) {
    color: white;
    background: royalblue;
}
.friend-requests a:nth-child(3):hover {
    background: darkblue;
}
.friend-requests a:nth-child(4), .real-friends a:nth-child(3) {
    color: white;
    background: saddlebrown;
}

.friend-requests a:nth-child(4):hover, .real-friends a:nth-child(3):hover {
    background: brown;
}


.pic-name {
    padding-left: 20rem;
    
}
/* post page css */
.post-form--div {
    display: flex;
    justify-content: center;
}
.post-form  {
    
    background-color: white;
    width: 600px;
    border-radius: 10px;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 2px 2px 4px 2px rgb(10 0 0 / 20%);
}

.post-form input{
    display: block;
    width: 250px;
    margin-bottom: 1rem;
    border: 1px solid rosybrown;
}

.post-form .submit {
    width: 260px;
    background: royalblue;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 0.3rem;
}
.table-about {
    background-color: #fff;
    ;
}
.table-about td:first-child {
    border-right: 1px solid black;
    border-collapse: collapse;
}
.table-about td:nth-child(2) {
    width: 20rem;
}

.table-about td {
    padding: 0.5rem;
}
.profile {
    display: flex;
    justify-content: space-around;
}
.freinds-info {
    display: flex;
    justify-content: space-around;
}
.freinds-info h2, .freinds-info h1{
    color: black;
}
.freinds-info img {
    border-radius: 50%;
    margin-top: 2rem;
   
}
.freinds-info li {
    list-style: none;
}
.freinds-info a {
    text-decoration: none;
    padding: 0.3rem;
    color: black;
    font-weight: bold;
    
}
.freinds-info a:first-child {
    background: none;
}

.friend-requests a:nth-child(3) {
    color: white;
    background: royalblue;
}
.friend-requests a:nth-child(3):hover {
    background: darkblue;
}
.friend-requests a:nth-child(4), .real-friends a:nth-child(3) {
    color: white;
    background: saddlebrown;
}

.friend-requests a:nth-child(4):hover, .real-friends a:nth-child(3):hover {
    background: brown;
}


.title {
    padding-bottom: 1rem;
}

.body {
    padding-bottom: 4rem;
}

/* people page css */
.peoples {
    display: flex;
    flex-direction: column;
  
    
}
.peoples div {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.peoples  a {
    text-decoration: none;
}
.people li{
    list-style: none;
}
a.send-request {
    background: #483D8B;
    color: white;
    padding: 0.4rem;
}
.people span {
    color: green;
}
a.send-request:hover {
    background-color: #6A5ACD;
}

a.name-people {
    color: black;
    font-weight: bold;
}
a.name-people:hover {
    text-decoration: underline;
}

.people {
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: row;
    margin-top: 1rem;
    background: white;
    width: 250px;
    box-shadow: 0 2px 4px 0 rgb(10 0 0 / 20%);
}



/* footer page style */
footer {
    margin-top: 10rem;
}

footer h3 {
    text-align: center;
}

.contacts {
    display: flex;
    justify-content: space-around;
}

footer li, footer a  {
    color: #1877f2;
    list-style: none;
}

footer a {
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}


.Copyright {
    text-align: center;
}